:root {
  --textColor: rgb(65, 64, 66);
  --btnBgColor: #33b7b7;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Neytrif Pro";
}
.app_layout {
  background: #f3f0e4;
  min-height: 100vh;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.react-swipeable-view-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
